.warninglog {
    padding: 100px 0;
    max-width: 95%;
    margin: 0 auto;

    .statisticalWarning {
        .row {


            .col-4 {
                background-color: #e0e0e0;
                border-radius: 5px;
                padding: 20px ;
                position: relative;
                h4 {
                    position: absolute;
                    left: 10%;
                }
            }

            .col-8 {
                padding-left: 30px;
                display: flex;
                flex-wrap: wrap;
                .row {
                    width: 100%;
                    .col-4 {
                        background-color: #fff;
                        padding: 0;
                        padding: 0 5px;
                        
                        .item {
                            background-color: #e0e0e0;
                            display: flex;
                            align-items: center;
                            padding: 20px;
                            border-radius: 5px;
                            height: 100%;
                            i {
                                width: 20%;
                                font-size: 40px;
                            }
                            .itemdetail {
                                width: 80%;
                                text-align: center;
                                p {
                                    font-size: 16px;
                                    font-weight: 700;
                                }
                                span {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                .warningtable {
                    width: 100%;
                    margin-top: 30px;
                    margin-right: 25px;
                    border-radius: 5px;
                    padding: 20px;
                    background-color: #e0e0e0;
                    thead {
                        tr {
                            th {
                                border: 1px solid #ccc;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                border: 1px solid #ccc;
                            }
                        }
                    }
                }
            }
        }
    }

    .table {
        align-items: center;

        button {
            margin-right: 15px;
        }

        h4 {
            margin: 0;
        }
    }

}



@keyframes fadeInLeft {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180%);
    }
}