.img {
    width: 250px;
    animation: fadeInLeft 8s;
    overflow: hidden;
    img  {
        width: 252px;
        height: 189px;
    }
}


@keyframes fadeInLeft {
    0% {
        width: 0;
    }

    100% {
        width: 252px;
    }
}